
<form *ngIf="settingForm.get('settings')" [formGroup]="settingForm">
  <ng-container
    *ngFor="
      let mainObject of settingForm.get('settings')['controls']
        | keyvalue : originalOrder
    "
  >
    <div
      class="container"
      [formGroup]="settingForm.get('settings')['controls'][mainObject.key]"
    >
      <div
        class="wrapper"
        *ngFor="
          let setting of mainObject.value['controls'] | keyvalue : originalOrder
        "
        [ngClass]="{
          highlighted: setting.value['value']?.highlighted === 'true'
        }"
      >
        <div class="sidebar">
          <span class="label">{{ setting.value["value"].label }}</span>
          <span class="sub-label">{{ setting.value["value"].subLabel }}</span>
        </div>
        <div class="setting-options">
          <ng-container
            *ngFor="
              let settingOption of setting.value['controls']
                | keyvalue : originalOrder
            "
          >
            <ng-container *ngIf="isValidOption(settingOption.value['value'])">
              <ng-container
                *ngIf="!settingOption.value['value'].isContainEmail"
              >
                <div class="settings">
                  <app-setting-option
                    [controls]="
                      settingForm.get('settings')['controls'][mainObject.key][
                        'controls'
                      ][setting.key]['controls'][settingOption.key]
                    "
                  ></app-setting-option>
                </div>
                <hr />
              </ng-container>

              <ng-container *ngIf="settingOption.value['value'].isContainEmail">
                <app-custom-chips
                  [controls]="
                    settingForm.get('settings')['controls'][mainObject.key][
                      'controls'
                    ][setting.key]['controls'][settingOption.key]
                  "
                ></app-custom-chips>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="btn">
        <app-button
          [label]="'Apply Changes'"
          [disabled]="!mainObject.value['dirty']"
          (click)="
            onSubmit(
              mainObject.value['value'],
              mainObject.value,
              mainObject.key
            )
          "
        ></app-button>
      </div>
    </div>
  </ng-container>
</form>
