<!-- <div class="single-setting">
    <span class="setting-label">
        <span class="label">{{settingOptionObject.label}}</span>
        <span class="sub-label">{{settingOptionObject.subLabel}}</span>
    </span>
    <select (change)="onOptionChanged($event)">
        <option  *ngFor="let option of settingOptionObject.option" [selected]="option === settingOptionObject.default " [value]="option">
          {{ option }}
        </option>
      </select>
</div> -->

<form [formGroup]="settingOptionFormGroup">

<div class="single-setting">
    <span class="setting-label">
        <span class="label">{{settingOptionFormGroup['value'].label}}</span>
        <span class="sub-label">{{settingOptionFormGroup['value'].subLabel}}</span>
    </span>
    <select formControlName="default">
        <option  *ngFor="let option of settingOptionFormGroup['value'].option" [selected]="option === settingOptionFormGroup['value'].default " [value]="option">
          {{ option }}
        </option>
      </select>
</div>
</form>